* {
	/*outline: #BDBDBD 1px dotted;*/
}

body {
	/*background-color: #D8D8D8;*/


	background-color: #E6E6E6;

/*
	background-image: url("../images/background3.jpg");
	background-repeat: no-repeat;
	*/
	/*
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	*/
}

.main {
	display: none;

	color: #585858;


	/*background-color: white;*/
	/*max-width: 300px;*/
	/*width: 100px;*/
	margin-top: 75px;
	/*text-align: center;*/
	/*min-height: px;*/
	/*max-width: 200px;*/
	/*width: auto;*/
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#title {
	text-align: center;
	/*font-weight: bold;*/
	font-weight: bold;
	font-size: 48pt;
	/*padding: 30px;*/
	margin-bottom: 50px;
	cursor: default;
}

table {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	/*width: 100px;*/
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	/*width: 400px;*/
	/*padding: 100;*/
	/*font-family: "Trebuchet MS", Helvetica, sans-serif;*/
	/*font-family: Tahoma, Geneva, sans-serif;*/
	font-size: 16pt;
	/*border: 10px solid white;*/
}

td {
	padding: 6px;
	vertical-align: middle;
	/*height: 40px;*/
}

tr:first-child td {
	height: 50px;
	vertical-align: bottom;
}

tr:first-child td:nth-child(3) {
	/*vertical-align: middle;*/
	padding-bottom: 17px;
	padding-left: 6px;
}

tr:first-child td:nth-child(2) {
	padding-bottom: 11px;
	padding-left: 1px;
	padding-right: 0px;
}

#enter-item-row:nth-child(1) {
	height: 63px;
	/*
	padding: 1000px;
	margin-top: 10000px;*/
}

#item-box {
	width: inherit;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 16pt;
	color: #585858;


	/*
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	*/
}

.store-button-no-items {
	padding-top: 26px;
}

.item-box-no-items {
	padding-top: 26px;
}

#store-button {
	width: 25px;
	height: 25px;
	opacity: 0.75;
	vertical-align: bottom;
}

/*
#store-button:hover {
	opacity: 0.925;
}*/

.unchecked-box, .checked-box {
	width: 20px;
	height: 20px;
	opacity: 0.725;
	/*z-index: 3;*/
}

.unchecked-box:active, .checked-box:active {
	opacity: 0.5;
	/*opacity: 0.1;*/
	/*background-color: red;*/
}

.box-active {
	opacity: 0.5;
	background-color: red;
	color: purple;
}

img:active {
	/*opacity: 0.5;*/
}

.unchecked-box:active {
	/*background-color: red;*/
}

.item-name {
	opacity: 0.75;
	color: black;
	cursor: default;
}

#store-button:hover, .unchecked-box:hover, .checked-box:hover/*, .item-name:hover*/ {
	opacity: 0.933;
}

/*#store-button:active, .unchecked-box:active, .checked-box:active, .item-name:active {*/
	/*opacity: 0.75;*/
	/*
	height: 24px;
	width: 24px;
	*/
/*}*/

#store-button:active {
	opacity: 0.7;
}

td:nth-child(1), td:nth-child(3) {

	width: 36px;
}

td:nth-child(1) {
	/*width: 36px;*/
	text-align: right;
	padding-top: 8px;


}

td:nth-child(1) img:active {
	/*background-color: red;*/
}

.done td:nth-child(1) {
	opacity: 0.67;
}

.delete-button {
	width: 25px;
	height: 25px;
	opacity: 0.67;
}

td:nth-child(3) {
	text-align: left;
	/*width: 36px;*/
}

td:nth-child(3):active {
	/*text-align: left;*/
	/*width: 36px;*/
	/*opacity: 0.9;*/
}

.done td:nth-child(3) {
	opacity: 0.7;

}



.delete-button:hover {
	opacity: 0.85;
}

.delete-button:active {
	opacity: 0.4;
}

.done td:nth-child(2) {
	opacity: 0.5;
}

.done td:nth-child(2):hover {
	/*opacity: 0.63;*/
}

tr:last-child {
}

tr:last-child td {
	height: 37px;
	vertical-align: top;
}

/*
body {
	background-color: black;
}

.main {
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
}

.ryu {
	float: left;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  	width: 659px;
 	height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
  	display: none;
} 

.ryu-ready {
 	background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
 	background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
 	background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	background-repeat: no-repeat;
}

.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px; 
	height: 90px;
	display: none;
	position: relative;
	top: 170px;
	left: -180px;
	float: left;
	z-index: 1;
}

.info {
	font-family: sans-serif;
	font-weight: bold;
	list-style-type: none;
	position: absolute;
	top: 260px;
	left: 800px;
}

.info ul {
	padding: 15px;
	font-size: 24px;
}
*/

